<div class="btn-row">
<%= link_to "Add Question", new_question_path, class: 'btn' %>
</div>

<div class="row">
<ul class="list">
  <% @questions.each do |question| %>
  <div class="col-3">
    <li><div><span><%= question.title %></span> | <%= link_to "Edit", edit_question_path(question) %></div></li>
  </div>
  <% end %>
</ul>
</div>