<%= form_for @semester do |f| %>
<div class="form-section">
  <%= f.label :title, "Semester" %>
  <%= f.text_area :title %><br />
  <div class="actions">
  	<%= f.submit %>
  </div>
</div>

<% end %>
