<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>To start just login with your email (<%= @user.email %>) and your password: <strong> <%= @password %> </strong></p>
  </body>
</html>
