
<fieldset>
  <div class="row">
  	<div class="col-4 offset-4">
	  <%= f.label :name, "Topic" %>
	  <%= f.text_field :name%>
	</div>
</div>
  <%= f.fields_for :categories do |builder| %>
    <%= render "shared/category_form", f: builder %>
  <% end %>
</fieldset>

