<div class="jumbo-section">
	<h1 class="header">Welcome!</h1>
	<p class="motto">Jeopardy Game</p>
</div>
<div class="row">
  <span class="col-4" style="text-align: left;">Jeopardy</span>
  <span class="col-4" style="text-align: center;">
    ©
    2014
    DAW
  </span>
  <span class="col-4" style="text-align: right;">Team 8</span>
</div>