$('#js-new-member').html("<%= j render 'new_member_links' %>");
<% if @member.memberable_type == "Player" && @member.memberable.has_team_on_game(@game) %>
    $('#js-<%= @member.memberable.team_name_for_game(@game) %>').append("<li><%= @member.memberable.name %></li>")
<% else %>
    $('#js-members').append("<%= j render 'member_list_element', m: @member.memberable %>")
<% end %>
