@import "font-awesome";

@import "furatto_overrides";

@import "landing";

.list-limited-size {
  height: 200px;
  overflow: auto;
  background-color: #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  margin-left: -5px;
  margin-right: 10px;
}

.btn {
	border-radius: 8px;
	margin: 5px;
	background-color: #006699 ;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 90%;
}

.new-btn {
	color: white;
	text-align: center;
	padding: 5px;
	width: 150px;
}

.topic-color {
	background-color: #FF8533;
}

.category-color {
	background-color: #70B8FF;
}

.semester-color {
	background-color: #5CD65C;
}

h5, h2, .aboutUs {
	text-align: center;
}

.list {
	list-style-type: none;
}

.field {
	width: 300px;
	text-align: center;
}

.actions {
	text-align: center;
	border-radius: 10px;
	padding: 8px;
	font-size: 97%;
}

.form-section {
	width:300px;
    position:relative;
    left:50%;
    margin-left: -150px;
}

.btn-row {
	text-align: center;
	padding: 15px;
}