@import "font-awesome";

@import "furatto_overrides";

@import "landing";

.list-limited-size {
  height: 200px;
  overflow: auto;
  background-color: #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  margin-left: -5px;
  margin-right: 10px;
}

.table-limited-size {
	height: 234px;
	overflow: auto;
	margin: 10px;
}


h5, h2, h4, .aboutUs {
	text-align: center;
}

.list {
	list-style-type: none;
}

.field {
	width: 300px;
	text-align: center;
}

.form-section {
	width:300px;
    position:relative;
    left:50%;
    margin-left: -150px;
}

.row {
	text-align: center;
}