.jumbo-section {
	background-color: #67b2e3;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 200px;
	margin-top: -10px;
}

.header {
	font-weight: bold;
	font-size: 50px;
}

.motto {
	font-size: 30px;
}